/* You can add global styles to this file, and also import other style files */
@use './assets/colors/colors' as *;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Dark theme */
body.dark-mode {
  background-color: $color-dark-bg;
  color: #eee;
}

/* Exemplo para navbar (opcional) */
body.dark-mode .navbar {
  background-color: $color-text;
}

body.dark-mode .navbar a {
  color: #fff;
}

body.dark-mode mat-grid-tile {
  background-color: $color-intermediary-bg;
}
