@use '../../../assets/colors/colors' as *;

.page-container {
  padding: 2rem;

  h1 {
    margin-bottom: 1rem;
  }
}

.newRate {
  font-size: 4rem;
  padding: 0;
  color: $color-primary;
}

.app-rates{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.rate-container{
  display: flex;
  padding: 0;
  flex-direction: column;
  gap:4px;
  justify-content: center;
}
