/* Light Theme Colors */
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-bg-light: #F5F5F5;
$color-dark: #343a40;
$color-text: #333333;
$color-bg: #ffffff;

/* Dark Theme Colors */
$color-dark-bg: #121212;
$color-intermediary-bg: #333333;
$color-dark-text: #eeeeee;
$color-dark-primary: #90caf9;